.photos-page{
    height: 100%;
    background-color: #2F2FA2;
    scroll-snap-align: start;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.photos-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    padding-top: 8%;
    padding-right: 3%;
    padding-left: 3%;
}

.photos-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-items: flex-start;
    align-items: center;
}

.text-subheader{
    font-family: "Aileron-Light";
}

.photos-me-image{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    width: 70%;
    height: 80%;
}

.photos-me-image img{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 20px;
}

.photos-gallery{
    width: 65%;
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

.gallery{
    background-color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow-y: auto;
}

.photo-row{
    align-self: flex-start;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.photo-row img {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    transition: 1s;
}

.photo-row img:hover{
    transform: scale(1.10);
    transition: 0.5s;
    cursor: pointer;
}

.zoom {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: black;
  }
  
  .zoom-content {
    margin: auto;
    display: block;
    width: 80%;
  }
  
  .exit {
    position: absolute;
    top: 30px;
    right: 30px;
    color: lightgrey;
    font-size: 3em;
    transition: 0.25s;
  }
  
  .exit:hover{
    color: red;
    cursor: pointer;
  }
  
  